  <!DOCTYPE html>
 <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <meta charset="UTF-8">
     {% if title %}
 <title>{{title}}</title>
     <title> Welcome to the most popular News-catch up website</title>
     {% endif %}
</head>
<body>
    <div>
         {% for news in news %}
            <p>{{ news.title }}</p>
         <div class = "head">TODAY'S TOP HEADLINES</div>
         <div class="row">
             <div class="col-md-4">
         <img src="{{news.urlToImage}}"width="400px"height="300px" alt="">
        </div>
     <div class="col-md-8">
         <h1>{{news.author}}</h1>
        <h3>{{news.content}}</h3>
        <a href="{{news.url}}">Read more</a>
       <p style="color:rgb(77, 255, 0);">Publish Date:- </p><p>{{p_date}}</p><hr>
         </div>
        {% endfor %}
    </div>
    <!-- ............ -->
